In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [2]:
first = pd.read_csv('a_to_cday.csv')
second = pd.read_csv('cdns_to_fico.csv')
third = pd.read_csv("fis_to_lw.csv")
fourth = pd.read_csv("lyb_to_pypl.csv")
fifth = pd.read_csv("qcom_to_txt.csv")
sixth = pd.read_csv("tyl_to_zts.csv") 
data = pd.concat([first,second,third,fourth,fifth,sixth])

In [3]:
data = data.reset_index(drop=True)

In [4]:
#data.to_csv("data_1.csv",index=False)

In [5]:
seventh = pd.read_csv('a_to_bkr_income.csv')
eigth = pd.read_csv("blk_to_dgx_income.csv")
ninth = pd.read_csv("dhi_to_glw_income.csv")
tenth = pd.read_csv("gm_to_lhx_income.csv")
eleventh = pd.read_csv("lin_to_odfl_income.csv")
twelfth = pd.read_csv("ogn_to_stld_income.csv")
thirteenth = pd.read_csv("stt_to_xel_income.csv")
fourteenth = pd.read_csv("xom_to_zts_income.csv")
_1_5 = pd.read_csv("remaining_1.csv")
data_2 = pd.concat([seventh,eigth,ninth,tenth,eleventh,twelfth,thirteenth,fourteenth], axis=0)

In [6]:
data_2 = data_2.reset_index(drop=True)

In [7]:
data_2.head()

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,A,1.110000e+08,3.020000e+08,3.520000e+08,3.680000e+08,3.290000e+08,2.740000e+08,2.830000e+08,4.420000e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
1,AAL,1.338000e+09,1.000000e+07,8.030000e+08,4.830000e+08,4.760000e+08,-1.635000e+09,-9.320000e+08,1.690000e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-31
2,AAPL,1.988100e+10,2.416000e+10,2.999800e+10,2.072100e+10,1.944200e+10,2.501000e+10,3.463000e+10,2.055100e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
3,ABBV,2.024000e+09,2.390000e+08,2.473000e+09,3.949000e+09,9.240000e+08,4.490000e+09,4.044000e+09,3.179000e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-28
4,ABNB,6.500000e+08,1.170000e+08,3.186630e+08,1.214288e+09,3.790000e+08,-1.900000e+07,5.453500e+07,8.338930e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#data_2.to_csv("data_2.csv")

In [9]:

#merged_data = data.merge(seventh, on='Ticker', how='inner')

# merged_data = data.merge(seventh, on='Ticker', how='outer')


#print(merged_data)

In [10]:
#merged_data.shape

In [11]:
data.head()

  Ticker  Price    Market Cap Exchange  Outstanding Shares
0      A    NaN  3.233379e+10     NYSE        2.925870e+08
1    AAL    NaN  7.657403e+09   NASDAQ        6.533620e+08
2   AAPL    NaN  2.796177e+12   NASDAQ        1.563420e+10
3   ABBV    NaN  2.611568e+11     NYSE        1.765050e+09
4   ABNB    NaN  7.917346e+10   NASDAQ        4.263590e+08

In [12]:
data_2.head()

,Ticker,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,Q7_NetIncome,Q8_NetIncome,Month1_Volume,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,A,1.110000e+08,3.020000e+08,3.520000e+08,3.680000e+08,3.290000e+08,2.740000e+08,2.830000e+08,4.420000e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
1,AAL,1.338000e+09,1.000000e+07,8.030000e+08,4.830000e+08,4.760000e+08,-1.635000e+09,-9.320000e+08,1.690000e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-31
2,AAPL,1.988100e+10,2.416000e+10,2.999800e+10,2.072100e+10,1.944200e+10,2.501000e+10,3.463000e+10,2.055100e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
3,ABBV,2.024000e+09,2.390000e+08,2.473000e+09,3.949000e+09,9.240000e+08,4.490000e+09,4.044000e+09,3.179000e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-28
4,ABNB,6.500000e+08,1.170000e+08,3.186630e+08,1.214288e+09,3.790000e+08,-1.900000e+07,5.453500e+07,8.338930e+08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1 = pd.read_csv("data_1.csv")
df2 = pd.read_csv("data_2.csv")
merge_data = pd.merge(df1, df2, on='Ticker', suffixes=('_left','_right'))

merge_data.head()

,Ticker,Price,Market Cap,Exchange,Outstanding Shares,Unnamed: 0,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,A,NaN,3.233379e+10,NYSE,2.925870e+08,0,1.110000e+08,3.020000e+08,3.520000e+08,3.680000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
1,AAL,NaN,7.657403e+09,NASDAQ,6.533620e+08,1,1.338000e+09,1.000000e+07,8.030000e+08,4.830000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-31
2,AAPL,NaN,2.796177e+12,NASDAQ,1.563420e+10,2,1.988100e+10,2.416000e+10,2.999800e+10,2.072100e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
3,ABBV,NaN,2.611568e+11,NYSE,1.765050e+09,3,2.024000e+09,2.390000e+08,2.473000e+09,3.949000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-28
4,ABNB,NaN,7.917346e+10,NASDAQ,4.263590e+08,4,6.500000e+08,1.170000e+08,3.186630e+08,1.214288e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
merge_data.columns

Index(['Ticker', 'Price', 'Market Cap', 'Exchange', 'Outstanding Shares',
       'Unnamed: 0', 'Q1_NetIncome', 'Q2_NetIncome', 'Q3_NetIncome',
       'Q4_NetIncome', 'Q5_NetIncome', 'Q6_NetIncome', 'Q7_NetIncome',
       'Q8_NetIncome', 'Month1_Volume', 'Month2_Volume', 'Month3_Volume',
       'Month4_Volume', 'Month5_Volume', 'Month6_Volume', 'Month7_Volume',
       'Month8_Volume', 'Month9_Volume', 'Month10_Volume', 'Month11_Volume',
       'Month12_Volume', 'OldestDataDate'],
      dtype='object')

In [28]:
merge_data.isnull().sum()

Ticker                  0
Price                 502
Market Cap              3
Exchange                3
Outstanding Shares      3
Unnamed: 0              0
Q1_NetIncome           30
Q2_NetIncome           30
Q3_NetIncome           30
Q4_NetIncome           30
Q5_NetIncome           30
Q6_NetIncome           30
Q7_NetIncome           30
Q8_NetIncome           32
Month1_Volume         502
Month2_Volume         502
Month3_Volume         502
Month4_Volume         502
Month5_Volume         502
Month6_Volume         502
Month7_Volume         502
Month8_Volume         502
Month9_Volume         502
Month10_Volume        502
Month11_Volume        502
Month12_Volume        502
OldestDataDate        212
dtype: int64

In [40]:
merge_data.tail()

,Ticker,Price,Market Cap,Exchange,Outstanding Shares,Unnamed: 0,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
497,YUM,NaN,3.319099e+10,NYSE,280211000.0,3,418000000.0,300000000.0,371000000.0,331000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
498,ZBH,NaN,2.195167e+10,NYSE,208964000.0,4,209600000.0,232500000.0,-130500000.0,194000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-08-31
499,ZBRA,NaN,1.103622e+10,NASDAQ,51338000.0,5,144000000.0,150000000.0,186000000.0,170000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,ZION,NaN,5.321368e+09,NASDAQ,148145000.0,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,ZTS,NaN,8.063833e+10,NYSE,460317000.0,7,671000000.0,552000000.0,461000000.0,529000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-03-28

In [34]:
rem1 = pd.read_csv("remaining_1.csv")
rem2 = pd.read_csv("remaining_2.csv")
rem3 = pd.read_csv("remaining_3.csv")
rem_frames =[rem1,rem2,rem3]

rem = pd.concat([rem1,rem2,rem3],axis=0)

In [35]:
rem.shape

(113, 22)

In [38]:
rem['Ticker'].nunique()

87

In [17]:
net_sorted = merge_data.sort_values(by='Q1_NetIncome')

In [18]:
net_sorted.tail(31)

,Ticker,Price,Market Cap,Exchange,Outstanding Shares,Unnamed: 0,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
319,MSFT,NaN,2.471435e+12,NASDAQ,7.429760e+09,42,2.008100e+10,1.829900e+10,1.642500e+10,1.755600e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
31,AMP,NaN,3.334422e+10,NYSE,1.026260e+08,31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,AZO,NaN,4.558356e+10,NYSE,1.785700e+07,50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,BF.B,NaN,NaN,NaN,NaN,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,BRK.B,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
109,COP,NaN,1.500575e+11,NYSE,1.197490e+09,43,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,DLTR,NaN,2.422266e+10,NASDAQ,2.200060e+08,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,EQR,NaN,2.277603e+10,NYSE,3.790320e+08,29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,GOOGL,NaN,1.761944e+12,NASDAQ,5.933000e+09,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,HSY,NaN,3.922310e+10,NYSE,1.498540e+08,25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,JKHY,NaN,1.076724e+10,NASDAQ,7.280100e+07,50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,MNST,NaN,5.098280e+10,NASDAQ,1.047520e+09,31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NTAP,NaN,1.585768e+10,NASDAQ,2.087910e+08,60,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,RTX,NaN,1.066161e+11,NYSE,1.455510e+09,55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,SRE,NaN,4.462416e+10,NYSE,6.293070e+08,70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,SYK,NaN,1.002956e+11,NYSE,3.797780e+08,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,TDG,NaN,4.767332e+10,NYSE,5.518300e+07,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,TGT,NaN,5.141818e+10,NYSE,4.616050e+08,17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,TPR,NaN,6.491225e+09,NYSE,2.291290e+08,21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,TRV,NaN,3.838212e+10,NYSE,2.289420e+08,25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,TT,NaN,4.675079e+10,NYSE,2.283980e+08,29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,UHS,NaN,8.748705e+09,NYSE,6.214000e+07,36,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,UPS,NaN,1.338496e+11,NYSE,7.232760e+08,40,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,VFC,NaN,6.295773e+09,NYSE,3.888680e+08,44,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,VLTO,NaN,NaN,NaN,NaN,47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,VMC,NaN,2.830577e+10,NYSE,1.328660e+08,48,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,WDC,NaN,1.482963e+10,NASDAQ,3.241450e+08,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,WHR,NaN,6.938289e+09,NYSE,5.481800e+07,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,WRB,NaN,1.674157e+10,NYSE,2.575230e+08,67,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,WY,NaN,2.198090e+10,NYSE,7.307480e+08,71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,ZION,NaN,5.321368e+09,NASDAQ,1.481450e+08,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
empty = net_sorted.iloc[472:]

In [20]:
empty.head(30)

,Ticker,Price,Market Cap,Exchange,Outstanding Shares,Unnamed: 0,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
31,AMP,NaN,3.334422e+10,NYSE,1.026260e+08,31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,AZO,NaN,4.558356e+10,NYSE,1.785700e+07,50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,BF.B,NaN,NaN,NaN,NaN,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,BRK.B,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
109,COP,NaN,1.500575e+11,NYSE,1.197490e+09,43,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,DLTR,NaN,2.422266e+10,NASDAQ,2.200060e+08,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,EQR,NaN,2.277603e+10,NYSE,3.790320e+08,29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,GOOGL,NaN,1.761944e+12,NASDAQ,5.933000e+09,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,HSY,NaN,3.922310e+10,NYSE,1.498540e+08,25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,JKHY,NaN,1.076724e+10,NASDAQ,7.280100e+07,50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,MNST,NaN,5.098280e+10,NASDAQ,1.047520e+09,31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,NTAP,NaN,1.585768e+10,NASDAQ,2.087910e+08,60,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,RTX,NaN,1.066161e+11,NYSE,1.455510e+09,55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,SRE,NaN,4.462416e+10,NYSE,6.293070e+08,70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,SYK,NaN,1.002956e+11,NYSE,3.797780e+08,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,TDG,NaN,4.767332e+10,NYSE,5.518300e+07,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,TGT,NaN,5.141818e+10,NYSE,4.616050e+08,17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,TPR,NaN,6.491225e+09,NYSE,2.291290e+08,21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,TRV,NaN,3.838212e+10,NYSE,2.289420e+08,25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,TT,NaN,4.675079e+10,NYSE,2.283980e+08,29,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,UHS,NaN,8.748705e+09,NYSE,6.214000e+07,36,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,UPS,NaN,1.338496e+11,NYSE,7.232760e+08,40,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,VFC,NaN,6.295773e+09,NYSE,3.888680e+08,44,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,VLTO,NaN,NaN,NaN,NaN,47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,VMC,NaN,2.830577e+10,NYSE,1.328660e+08,48,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,WDC,NaN,1.482963e+10,NASDAQ,3.241450e+08,59,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,WHR,NaN,6.938289e+09,NYSE,5.481800e+07,63,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,WRB,NaN,1.674157e+10,NYSE,2.575230e+08,67,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,WY,NaN,2.198090e+10,NYSE,7.307480e+08,71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,ZION,NaN,5.321368e+09,NASDAQ,1.481450e+08,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
empty.shape

(30, 27)

In [22]:
import pandas as pd

column_array = empty['Ticker'].values

print(column_array)

['AMP' 'AZO' 'BF.B' 'BRK.B' 'COP' 'DLTR' 'EQR' 'GOOGL' 'HSY' 'JKHY' 'MNST'
 'NTAP' 'RTX' 'SRE' 'SYK' 'TDG' 'TGT' 'TPR' 'TRV' 'TT' 'UHS' 'UPS' 'VFC'
 'VLTO' 'VMC' 'WDC' 'WHR' 'WRB' 'WY' 'ZION']

In [23]:
column_array = empty['Ticker'].values

print(column_array)

['AMP' 'AZO' 'BF.B' 'BRK.B' 'COP' 'DLTR' 'EQR' 'GOOGL' 'HSY' 'JKHY' 'MNST'
 'NTAP' 'RTX' 'SRE' 'SYK' 'TDG' 'TGT' 'TPR' 'TRV' 'TT' 'UHS' 'UPS' 'VFC'
 'VLTO' 'VMC' 'WDC' 'WHR' 'WRB' 'WY' 'ZION']

In [24]:
column_array

array(['AMP', 'AZO', 'BF.B', 'BRK.B', 'COP', 'DLTR', 'EQR', 'GOOGL',
       'HSY', 'JKHY', 'MNST', 'NTAP', 'RTX', 'SRE', 'SYK', 'TDG', 'TGT',
       'TPR', 'TRV', 'TT', 'UHS', 'UPS', 'VFC', 'VLTO', 'VMC', 'WDC',
       'WHR', 'WRB', 'WY', 'ZION'], dtype=object)

In [25]:
myarr = empty['Ticker']

In [26]:
myarr

31       AMP
50       AZO
59      BF.B
69     BRK.B
109      COP
139     DLTR
164      EQR
208    GOOGL
230      HSY
255     JKHY
308     MNST
337     NTAP
402      RTX
417      SRE
426      SYK
430      TDG
437      TGT
441      TPR
445      TRV
449       TT
456      UHS
460      UPS
464      VFC
467     VLTO
468      VMC
479      WDC
483      WHR
487      WRB
491       WY
500     ZION
Name: Ticker, dtype: object

In [27]:
myarr.drop('Ticker', axis=1, inplace=True)

ValueError: No axis named 1 for object type Series

In [ ]:
myarr.head()

In [ ]:
empty.columns

In [ ]:
_1_5.head()

In [256]:
merge_data.head()

,Ticker,Price,Market Cap,Exchange,Outstanding Shares,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,...,Month4_Volume,Month5_Volume,Month6_Volume,Month7_Volume,Month8_Volume,Month9_Volume,Month10_Volume,Month11_Volume,Month12_Volume,OldestDataDate
0,A,NaN,3.233379e+10,NYSE,2.925870e+08,1.110000e+08,3.020000e+08,3.520000e+08,3.680000e+08,3.290000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
1,AAL,NaN,7.657403e+09,NASDAQ,6.533620e+08,1.338000e+09,1.000000e+07,8.030000e+08,4.830000e+08,4.760000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-31
2,AAPL,NaN,2.796177e+12,NASDAQ,1.563420e+10,1.988100e+10,2.416000e+10,2.999800e+10,2.072100e+10,1.944200e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-12-31
3,ABBV,NaN,2.611568e+11,NYSE,1.765050e+09,2.024000e+09,2.390000e+08,2.473000e+09,3.949000e+09,9.240000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-28
4,ABNB,NaN,7.917346e+10,NASDAQ,4.263590e+08,6.500000e+08,1.170000e+08,3.186630e+08,1.214288e+09,3.790000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merge_data.shape

(502, 27)

In [70]:
half_sp = pd.read_csv("data3_mis_vol.csv")

In [46]:
half_sp.shape

(502, 37)

In [71]:
half_sp.drop(columns=['Month1_Volume','Month2_Volume', 'Month3_Volume',
       'Month4_Volume', 'Month5_Volume', 'Month6_Volume', 'Month7_Volume',
       'Month8_Volume', 'Month9_Volume', 'Month10_Volume', 'Month11_Volume',
       'Month12_Volume', 'Month13_Volume', 'Month14_Volume', 'Month15_Volume',
       'Month16_Volume', 'Month17_Volume', 'Month18_Volume', 'Month19_Volume',
       'Month20_Volume', 'Month21_Volume', 'Month22_Volume', 'Month23_Volume',
       'Month24_Volume'],inplace=True)

In [72]:
half_sp.columns

Index(['Ticker', 'Market Cap', 'Exchange', 'Outstanding Shares',
       'Q1_NetIncome', 'Q2_NetIncome', 'Q3_NetIncome', 'Q4_NetIncome',
       'Q5_NetIncome', 'Q6_NetIncome', 'Q7_NetIncome', 'Q8_NetIncome',
       'OldestDataDate'],
      dtype='object')

In [73]:
half_sp.isnull().sum()

Ticker                  0
Market Cap              0
Exchange                0
Outstanding Shares      0
Q1_NetIncome            0
Q2_NetIncome            0
Q3_NetIncome            0
Q4_NetIncome            0
Q5_NetIncome            0
Q6_NetIncome            0
Q7_NetIncome            0
Q8_NetIncome            2
OldestDataDate        208
dtype: int64

In [74]:
vol = pd.read_csv("volume_total.csv")

In [49]:
vol.shape

(503, 25)

In [50]:
vol.isnull().sum()

Ticker            0
Month1_Volume     2
Month2_Volume     2
Month3_Volume     2
Month4_Volume     2
Month5_Volume     2
Month6_Volume     3
Month7_Volume     3
Month8_Volume     3
Month9_Volume     3
Month10_Volume    4
Month11_Volume    4
Month12_Volume    4
Month13_Volume    4
Month14_Volume    4
Month15_Volume    4
Month16_Volume    4
Month17_Volume    4
Month18_Volume    4
Month19_Volume    4
Month20_Volume    4
Month21_Volume    5
Month22_Volume    5
Month23_Volume    5
Month24_Volume    5
dtype: int64

In [75]:
almost_sp = pd.merge(half_sp,vol,on="Ticker", how="inner")

In [76]:
almost_sp.shape

(501, 37)

In [77]:
almost_sp.head()

,Ticker,Market Cap,Exchange,Outstanding Shares,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,...,Month15_Volume,Month16_Volume,Month17_Volume,Month18_Volume,Month19_Volume,Month20_Volume,Month21_Volume,Month22_Volume,Month23_Volume,Month24_Volume
0,A,32333791000,NYSE,292587000,111000000,302000000,352000000,368000000,329000000,274000000,...,3.200835e+07,2.726153e+07,3.511024e+07,4.554591e+07,4.388636e+07,4.618568e+07,4.230250e+07,3.987060e+07,3.369280e+07,3.425011e+07
1,AAL,7657403000,NASDAQ,653362000,1338000000,10000000,803000000,483000000,476000000,-1635000000,...,5.778082e+08,7.410581e+08,8.002163e+08,6.746700e+08,7.657141e+08,1.206626e+09,7.615309e+08,8.128715e+08,9.004280e+08,7.143538e+08
2,AAPL,2796176802000,NASDAQ,15634200000,19881000000,24160000000,29998000000,20721000000,19442000000,25010000000,...,1.509735e+09,1.447365e+09,1.749298e+09,2.400306e+09,1.683548e+09,2.171827e+09,1.628570e+09,2.106514e+09,2.443227e+09,1.688864e+09
3,ABBV,261156815000,NYSE,1765050000,2024000000,239000000,2473000000,3949000000,924000000,4490000000,...,1.095083e+08,1.165196e+08,1.325943e+08,1.434815e+08,1.787454e+08,1.508294e+08,1.641409e+08,1.683016e+08,1.496894e+08,1.109628e+08
4,ABNB,79173460000,NASDAQ,426359000,650000000,117000000,318663000,1214288000,379000000,-19000000,...,1.489998e+08,1.154604e+08,1.699445e+08,2.059053e+08,8.359679e+07,1.254568e+08,1.465241e+08,1.145832e+08,1.322255e+08,1.708884e+08

In [78]:
almost_sp.isnull().sum()

Ticker                  0
Market Cap              0
Exchange                0
Outstanding Shares      0
Q1_NetIncome            0
Q2_NetIncome            0
Q3_NetIncome            0
Q4_NetIncome            0
Q5_NetIncome            0
Q6_NetIncome            0
Q7_NetIncome            0
Q8_NetIncome            2
OldestDataDate        208
Month1_Volume           1
Month2_Volume           1
Month3_Volume           1
Month4_Volume           1
Month5_Volume           1
Month6_Volume           2
Month7_Volume           2
Month8_Volume           2
Month9_Volume           2
Month10_Volume          3
Month11_Volume          3
Month12_Volume          3
Month13_Volume          3
Month14_Volume          3
Month15_Volume          3
Month16_Volume          3
Month17_Volume          3
Month18_Volume          3
Month19_Volume          3
Month20_Volume          3
Month21_Volume          4
Month22_Volume          4
Month23_Volume          4
Month24_Volume          4
dtype: int64

In [79]:
almost_sp.columns

Index(['Ticker', 'Market Cap', 'Exchange', 'Outstanding Shares',
       'Q1_NetIncome', 'Q2_NetIncome', 'Q3_NetIncome', 'Q4_NetIncome',
       'Q5_NetIncome', 'Q6_NetIncome', 'Q7_NetIncome', 'Q8_NetIncome',
       'OldestDataDate', 'Month1_Volume', 'Month2_Volume', 'Month3_Volume',
       'Month4_Volume', 'Month5_Volume', 'Month6_Volume', 'Month7_Volume',
       'Month8_Volume', 'Month9_Volume', 'Month10_Volume', 'Month11_Volume',
       'Month12_Volume', 'Month13_Volume', 'Month14_Volume', 'Month15_Volume',
       'Month16_Volume', 'Month17_Volume', 'Month18_Volume', 'Month19_Volume',
       'Month20_Volume', 'Month21_Volume', 'Month22_Volume', 'Month23_Volume',
       'Month24_Volume'],
      dtype='object')

In [86]:
#almost_sp_null = almost_sp[almost_sp['Q8_NetIncome'].isnull()]

In [87]:
almost_sp.to_csv("S&P500_Data.csv",index=False)

In [94]:
almost_sp_null.head()

,Ticker,Market Cap,Exchange,Outstanding Shares,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,...,Month15_Volume,Month16_Volume,Month17_Volume,Month18_Volume,Month19_Volume,Month20_Volume,Month21_Volume,Month22_Volume,Month23_Volume,Month24_Volume
199,GEHC,30528729000,NASDAQ,454838000,418000000,383000000,554000000,488000000,485000000,389000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,KVUE,37091422000,NYSE,1914890000,430000000,330000000,370000000,585000000,604000000,528000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
rus = pd.read_csv("russell_partial.csv")

In [96]:
rus.shape

(361, 36)

In [97]:
rus = rus.drop_duplicates()

In [98]:
rus.shape

(329, 36)

In [99]:
rus.isnull().sum()

Ticker                  0
Market Cap              3
Exchange                3
Outstanding Shares      3
Q1_NetIncome           15
Q2_NetIncome           15
Q3_NetIncome           15
Q4_NetIncome           16
Q5_NetIncome           16
Q6_NetIncome           16
Q7_NetIncome           17
Q8_NetIncome           17
Month1_Volume         137
Month2_Volume         137
Month3_Volume         138
Month4_Volume         138
Month5_Volume         138
Month6_Volume         138
Month7_Volume         138
Month8_Volume         138
Month9_Volume         138
Month10_Volume        138
Month11_Volume        138
Month12_Volume        138
Month13_Volume        138
Month14_Volume        138
Month15_Volume        138
Month16_Volume        138
Month17_Volume        138
Month18_Volume        138
Month19_Volume        138
Month20_Volume        138
Month21_Volume        138
Month22_Volume        138
Month23_Volume        139
Month24_Volume        140
dtype: int64

In [100]:
rus.to_csv("russell_partial.csv", index=False)

In [101]:
rus.head()

,Ticker,Market Cap,Exchange,Outstanding Shares,Q1_NetIncome,Q2_NetIncome,Q3_NetIncome,Q4_NetIncome,Q5_NetIncome,Q6_NetIncome,...,Month15_Volume,Month16_Volume,Month17_Volume,Month18_Volume,Month19_Volume,Month20_Volume,Month21_Volume,Month22_Volume,Month23_Volume,Month24_Volume
0,MKSI,5292859000,NASDAQ,6.686300e+07,-1.769000e+09,-4.200000e+07,5.400000e+07,6.000000e+06,1.300000e+08,1.430000e+08,...,13568877.0,10541144.0,12962475.0,10750948.0,16659289.0,12408862.0,9688384.0,10896035.0,8898469.0,9747030.0
1,RIVN,18299023000,NASDAQ,9.403110e+08,-1.195000e+09,-1.349000e+09,-1.723000e+09,-1.724000e+09,-1.712000e+09,-1.593000e+09,...,341229338.0,314021335.0,334843612.0,616440701.0,300613681.0,477898064.0,342861212.0,377801314.0,284371118.0,NaN
2,UGI,4382301000,NYSE,2.094790e+08,-7.890000e+08,1.100000e+08,-9.540000e+08,2.440000e+08,-7.000000e+06,9.330000e+08,...,20955029.0,26244492.0,26058931.0,33491632.0,35661882.0,61453366.0,34012982.0,23935398.0,25252412.0,24388836.0
3,LCID,11778474000,NASDAQ,2.282650e+09,-7.642320e+08,-7.795280e+08,-4.681880e+08,-5.301010e+08,-2.204250e+08,-8.128600e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KBR,8067977000,NYSE,1.349160e+08,-3.510000e+08,8.600000e+07,9.300000e+07,7.400000e+07,9.400000e+07,-7.100000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN